@charset"UTF-8";

html{
     font-size:62.5%
}
*,*::before, *::after{
     box-sizing: border-box;
}

body{float:center;
     margin:0;
     background:url('../images/S__3489844.jpg')no-repeat ;
     background-size:cover;
     color:#fff;
     
     font-size:1.2rem;
     font-family:"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}
a:link{text-decoration:none;
       color:white;
}
a:visited{text-decoration:none;
       color:white;
}
a:hover{text-decoration:none;
       color:white;
} 
a:active{text-decoration:none;
       color:white;
}         
        
.header{
     padding:50px 60px 20px 50px;
     background:#151515;
     overflow:hidden;}
     
.global-navi {margin-top:15px;
              text-align:right;
              } 
.global-navi li{display:inline-block;
                width:100px;
                line-height:30px;
                
                font-size:14px;
               }              
                      

.logo{
     float:left;
     clear:both;
     
     }



.about{
       float:center;
       text-align:center;
       background:#fff;
}
.heading{
      margin:30px 0 0px;
      letter-spacing:2px;
      font-size:4rem;
      color:gray;
      padding:50px 0;
      float:center;
          
}                 
.about-text{
     margin:0 0  50px 0;
     line-height:2.5;
     color:#151515;
     padding:0 40px;
}          
.room{
    background:#151515;
    float:center;
    text-align:center;   
}                       
.room-box{
    margin:10px 30px 20px 30px;
    display:inline-block;
  
}


.service{
    background:#fff;
    float:center;
    text-align:center;
}    
.service-box{
    margin:0px 30px 20px 30px;
    
}
.access{
     background:#151515;
     float:center;
     text-align:center;
}
.access-text{
     font-size:1.2rem;
     padding:0 0 60px 0 ;
}

.access-box{
    float:center;
    margin:0px 30px 20px 30px;
    color:pink;
}    
.recruit{
    background:#fff;
    float:center;
    text-align:center;   
}
.recruit-box{
    color:#151515;
    float:center;
    padding:30px;
    margin:10px 100px 40px 100px;
    background:#F3F3F3;
}
.recruit-title{
    border-left:solid 3px #151515;
    padding:5px;
    text-align:left;
}

.recruit-text{
    color:#151515;
    padding:10px;
    text-align:left;
}
.button-recruit{
     display:inline-block;
     width:100px;
     background-color:#151515;
     padding:10px;
     border-radius:4px;
     float:center;
     margin:0 0 30px 0;
}
.footer{
     float:center;
     text-align:center;
     background:#151515;
     
}    
.footer-text{
     padding:50px0;
}


