@charset "shift_jis";

*  { font-family:"メイリオ",Arial,"ヒラギノ角ゴPro W3",
     "Hiragino Kaku Gothic Pro","MS Pゴシッグ"sans-serif;
   }
     
body  {margin:0;
       background-color:#9f563a;
       font-size:12px;
       background-attachment:fixed
       
}
h1,h2,h3 {margin-top:0;
}
    
#wrapper  {background-color:white;
           width:680px;
           margin:0 auto;
           border:solid 1px white;
           }
           
#header {background-color:#3f312b;
         overflow:hidden;
         }
         
#contact {float:right;
          color:white;
          background-color:#783c1d;
          padding:5px 10px 5px 10px;
          }
          
#logo {float:left;
       clear:both;
       margin:0 0px 0px 15px;
       padding:0px;
       width:400px;  
       }
        
#global-navi {float:right;
              margin-left:20px;
              color:white;}
              
#global-navi ul,li {float:left;
                    padding-left:20px;
                    color:white;
                    list-style:none;
                    margin:45px 5px 5px 0;
                    }

#main-feature {overflow:hidden;
               background-image:url("pome.gif");
               width:680px;
               height:300px;} 
                
#feature-wrapper h4 { float:right;
                     font-size:13px;
                     color:#8f2e14;
                     margin:15px 10px 0 20px;
                     line-height:20px;
                     } 
 
a:link {text-decoration:none;
         color:#ed6d35;  }
         
a:visited {text-decoration:none;
            color:white;  }
            
a:hover {text-decoration:none;
         color:#ed6d35;  }

a:active {text-decoration:none;
         color:white;  }         
 
 
 #main-navi {width:680px;
             height:342px;
             overflow:hidden;
             background:#f6ae54;}                         

.f-section1 {width:180px; 
             float:left;
             height:342px;
             clear:both;
             background:#f6ae54
             } 
             
            
.f-section1 table {overflow:hidden;
                   line-height:30px;
                   width:180px; 
                   float:center;
                   text-align:center;
                   } 

.f-section1 table tr,td{float:center;
                        color:white;
                        background:#3f312b;
                        } 
                   
.f-section1 table th{ width:180px; 
                      color:white;
                      background:#622d18;
                      text-align:center;
                      font-size:15px;
                        }
                                                                                                          

.f-section2 {background:#f6ae54;
              float:right;
             } 
                
.f-section2 p {padding:100px 20px 0 0;
               margin:10px;
               text-align:left;
               line-height:30px;
               font-size:13px;}              
              
.f-section2 img {padding:80px 0px 0 10px;
                  width:280px;
                  float:left;} 


               


#footer {background-color:#3f312b;
         overflow:hidden;
         clear:both;
         text-align:center;
         color:white;}













